{% extends 'admin/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<main>
    <h1>Edit Dashboard</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="modal-body d-flex flex-column">
            {{form.as_p}}
        </div>
        <div class="modal-footer pt-5 pt-md-3 border-0 d-flex flex-column flex-sm-row justify-content-center justify-content-sm-between">
            <!-- SUBMIT BUTTON -->
            <a class="btn btn-secondary" href="{% url 'admin_dashboard_view' %}">Close</a>
            <button type="submit" id="submit-modal-text" class="btn btn-principal mb-3">
                <span class="btn btn-primary">{% trans "Update Dashboard" %}</span>
                <div class="loading-container">
                    <div class="loading">
                        <div class="loader">
                            <span></span>
                        </div>
                    </div>
                </div>
            </button>
        </div>
    </form>
</main>

{% endblock content %}