{% extends 'admin/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<main>
    <section class="container pb-md-3">
        <div class="row d-flex align-items-lg-center py-md-5 mt-5">
            <div class="col-12 col-md-6 col-xl-4">
                <div class="py-4 px-3 px-lg-4 py-lg-5 border m-4 text-center text-lg-left">
                    <h2 class="mb-3 pb-1">Users</h2>
                    <h4>View all users.</h4>
                    <a href="{% url 'admin_user_view' %}" class="sec-link">Go to Users <img class="" src="" alt=""></a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="py-4 px-3 px-lg-4 py-lg-5 border m-4 text-center text-lg-left">
                    <h2 class="mb-3 pb-1">Dashboards</h2>
                    <h4>View all dashboards.</h4>
                    <a href="{% url 'admin_dashboard_view' %}" class="sec-link">Go to Dashboards <img class="" src="" alt=""></a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="py-4 px-3 px-lg-4 py-lg-5 border m-4 text-center text-lg-left">
                    <h2 class="mb-3 pb-1">Domains</h2>
                    <h4>Domains withelist</h4>
                    <a href="{% url 'admin_domain_view' %}" class="sec-link">Go to Domains <img class="" src="" alt=""></a>
                </div>
            </div>
        </div>

    </section>
</main>

{% endblock content %}
